:root {
    --background: rgb(229, 234, 219);
    --nav: #b2dfdb;
    --nvvn: #278fd1;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    scroll-behavior: smooth;
}

html {
    padding: 0;
    margin: 0;
}

body {
    max-width: 100vw;
    height: 100vh;
    background: var(--background);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    background: var(--nav);
    justify-content: center;
    align-items: center;
    height: 75px;
    border: 3px solid black;

}

nav>ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    list-style: none;
    align-items: center;

}

nav>ul>li {
    font-size: 30px;
    align-items: center;
    height: 50px;
    justify-content: center;
    transform: translateY(10%);
    text-align: center;

}

nav>ul>li>A>img {
    width: 300px;
    transform: translateY(-10%);
    border: none;
}

nav>ul>li>a {
    color: black;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 30px;
}


.groot-sdg {
    width: 14rem;
    height: 14rem;
}

.groot-sdg_img {
    width: 100%;
    height: 100%;
}

.main {
    padding: 2rem;
}

.highlight {
    min-width: 100%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 2rem;
}


.highlight>div>div>a>img {
    max-width: 30vw;
    max-height: 30vh;
    border: 5px solid black;
    border-radius: 20px;
}

.about {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;

    padding: 80px;
    padding-top: 0;
    padding-bottom: 40px;
}

h2 {
    font-size: 25px;
    margin-bottom: 20px;

}

.cta {
    background: #71cc90;
    padding: 10px;
    border-radius: 20px;
    border: 3px solid black;
    justify-self: flex-end;
    display: flex;
    margin-top: 20px;
    width: 200px;
    align-self: flex-end;
}

.cta>a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
}

.alle_sdgs {
    height: 100%;
    width: 100%;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;
}

.sdg {
    transition-duration: 1s;
}

.sdg:hover {
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    overflow: hidden;
}

footer {
    background: var(--nvvn);
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    margin-top: auto;
}

footer>div {
    height: 100%;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 100px;
}

footer>a>img {
    max-height: 50px;
    border: none;
    width: auto;
}

.logos {
    display: flex;
    height: 100%;
    align-items: center;
}

.NVVN__h1{
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 40px;
}


.NVVN__p{
    padding-left: 40px;
    padding-right: 40px;
}

.NVVN__h2{
    font-size: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

@media screen and (max-width: 1000px) {
    body {
        font-size: 18px;
        width: 100vw;
    }

    .highlight>div>div>a>img {
        min-width: 30vw;
        min-height: 30vw;
    }


    nav {
        width: 100vw;
    }

    .about,
    p {
        font-size: 18px;
    }

    h2 {
        font-size: 20px;
    }

    footer>div {
        width: 50%;
    }

    footer> a>img {
        height: 80%;

    }

    .sdg {
        max-width: 30vw;
        max-height: 30vw;
    }

    .menu {
        display: none;
    }

    .fa-solid,
    ::after,
    ::before {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }


    .about,
    p {
        font-size: 16px;
    }


    h2 {
        font-size: 18px;
    }
}


h1 {
    font-size: 3rem;
    margin: 1rem;
}

h2 {
    font-size: 2rem;
}

p {
    margin-bottom: 2rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "img text";
    align-items: center;
    justify-content: space-between;
}

.container > img{
    grid-area: img;
    max-width: 60vw;
    border: 0.5rem solid #000;
}

.SDG{
    height: 100%;
    justify-content: center;
    align-items: center;
}

.SDG__Luna{
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.SDG__container{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.SDG__container >p{
    width: 50vw;
}

.SDG__h1{
    width: 90vw;
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding-bottom: 40px;
}


.SDG >img {
    grid-area: img;
    margin: 1rem;
    max-height: 50vh;
}

.img{
    grid-area: img;
    margin: 1rem;
    max-height: 50vh;
    width: auto;
    border: 0.5rem solid #000;
}


.text {
    grid-area: text;
    margin: 1rem;
}

.SDG{
    width: 100%;
    padding: 0 10rem;
    display: flex;
    gap: 3rem;
  }
  
  .SDG img{
    width: 30vw;
    height: 30vw;
    margin: 2rem;
  }
  
  .SDG-description{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .SDG-description h1{
    font-size: 2rem;
    
  }
  
  .SGD-description p{
    font-size: 2rem;
  }

@media screen and (max-width: 1200px) {
    .SDG{
        display: flex;
        flex-direction: colum;
    }
  }


@media screen and (max-width: 680px) {


    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas: "img" "text";
    }




    .img {
        grid-area: img;
        width: 40vw;
        margin: 0;
    }


    img {
        width: 100%;
    }

    .text {
        grid-area: text;
        margin: 0 0 0 1rem;
    }

}



/* sdg page 2 */

@media screen and (max-width: 1000px) {

    .body{
        width: 100vw;
        height: 100vh;
    }

    .h1{
        font-size: 40px;
    }

    .container__p{
        font-size: 20px;
    }

    .container__h2{
        font-size: 30px;
    }

    .img{
        margin-bottom: 20px;
    }
}



@media screen and (max-width: 1000px) {

    .container__p{
        font-size: 16px;
    }

    .container__h2{
        font-size: 20px;
    }

    .container{
        display: flex;
        flex-direction: column;
    }

    .SDG{
        display: flex;
        flex-direction: column;
    }

    .SDG__container{
        display: flex;
        flex-direction: column-reverse;
    }
    .SDG__p{
        min-width: 80%;
    }
    .img{
        width: 40vw;
    }

    body{
        height: 100vh;
        width: 100vw;
    }
}

@media screen and (max-width: 500px) {

    .container__p{
        font-size: 16px;
    }

    .container__h2{
        font-size: 16px;
    }

    .container{
        display: flex;
        flex-direction: column;
        gap: 20px   ;
    }

    body{
        width: 100vw;
        height: 100vh;
    }

    .footer > a>img{
        max-width: 20vw;
    }
    .footer__img{
        max-width: 50vw;
    }
    .fa-brands{
        font-size: 5px;
    }
}

@media screen and (max-width: 800px) {
    .SDG-description{
        width: 90vw;
    }
}